
<header class="container">
  <div class="row">
    <div class="col-sm-3 " >
      <div class="row">
        <div class="col-6 col-sm-12 offset-3 offset-sm-0">
          <img src="https://static1.squarespace.com/static/56a3ff78fd5d084f3248a450/t/56a409464bf11808a0af9e35/1480349368121/sponsor-a-duck" alt="duck"/>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-6 col-sm-12 offset-3 offset-sm-0">
          co tam
        </div>
      </div>

    </div>
  </div>
</header>

